<h1 class="heading text-center">Survey Builder</h1>
<hr>
<h4 class='text-center'><span class="text-muted">1. Build Survey</span> | <span class="text-bold">2. Add Questions</span></h4>
<br>

<main class="new">
  <p>Next, fill in the questions.</p>
  <h4>Title:</h4>
  <p><%= @survey.title %></p>
  <h4>Description</h4>
  <p><%= @survey.description %><br>
  <hr>

  <h2>Add a Multiple Choice Question:</h2><br/>
  <h4 class='text-center'><span class='text-muted'>1. Select Options</span> | <span class='text-bold'>2. Add Question Text</span></h4>
  <br>

  <p>Next, add the text for each of your options</p>
  <%= form_for [@survey, @question], { :url => { :action => :update_options } } do |question_field| %>
    <%= question_field.label :body, "What is your question?" %>
    <%= question_field.text_field :body, :placeholder => 'eg. "Who does Number 2 work for?"', class: 'form-control' %><br/>
    <% @num_options.times do |i| %>
      <%= question_field.fields_for :options, Option.new do |option_field| %>
        <%= option_field.label :body, "Option #{i + 1}" %>
        <%= option_field.text_field :body, placeholder: 'eg. "Dr Evil"', class: 'form-control' %><br/>
      <% end %>
    <% end %>

    <%= question_field.submit "Add Question", class: 'btn btn-primary btn-lg btn-block' %>
  <% end %>



  <%= link_to "Back to previous step", edit_survey_question_path(@survey, @question) %>
  <hr>
  <h2>Existing Questions:</h2>
  <% if @survey.questions.empty? %>
    <p>There are no questions yet!</p>
  <% else %>
    <% @survey.questions.each do |question| %>
      <%= question.body %><br/>
      <ol>
        <% question.options.each do |option| %>
          <li><%= option.body %></li>
        <% end %>
      </ol><br/>
      <%= link_to "Remove Question", survey_question_path(@survey, @question), data: { confirm: 'Are you sure?' }, method: :delete %>
    <% end %>
  <% end %>
</main>