<h1 class='heading text-center'><strong>Surveyor:</strong> Tell Me #allthethings!</h1>
<br/>
<p>Click on a survey below to take it or create one of your own!</p>
<%= link_to "Create a New Survey", new_survey_path, class: "btn btn-primary btn-lg btn-block" %>
<br/>
<h3>Take a Survey</h3>
<% @surveys.each_with_index do |survey, i| %>
  <strong><%= i %> <%= link_to "#{survey.title}", survey_path(survey.id) %></strong>
  <br/>
  <%= survey.description %>
  <br/>
  <% survey.questions.each do |question| %>
    <%= question.body %><br/>
  <% end %>
<% end %>